<h3>このプロジェクトにユーザーをassignします！</h3>

<%= form_with(model: [project, assign], local: true) do |form| %>
  <%= form.hidden_field :project_id %>

  <p>招待したい人のアドレスを打ち込んでください。複数人の場合は、カンマ区切りで打ち込んでください<br>無効なアドレスは登録されません</p>
  <div class = "siimple-form-field">
    <%= fields_for User.new do |user| %>
      <%= user.text_field :email %>
    <% end %>
  </div>

  <div class = "siimple-form-field">
    <%= form.submit class: "siimple-btn siimple-btn--green" %>
  </div>
<% end %>
