<h2><%= @user.email %>さんが<%= @project.name %>にアサインされました！</h2>

<p><%= @user.email %>さんの初期ユーザ名は<%= @user.name %>です。</p>

<!-- パスワードが普通に出ちゃってるのはどうなんだろう -->
<p><%= @user.email %>さんの初期パスワードは<%= @password %>です。</p>
