<!DOCTYPE html>
<html>
  <head>
    <title>DicMemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body class="siimple-bg--grey">
    <div class="siimple-layout">
      <header class="header siimple-navbar siimple-navbar--blue">
        <div class="siimple-layout--left">
          <%= link_to 'DIC memo', root_path, class: 'siimple-navbar-title' %>
        </div>
        <div id="js-menu" class="siimple-layout--right">
          <a class="menu-btn" :class="{ active: isActive }" @click="toggleMenu">
            <span class="menu-btn-bar menu-btn-bar--top"></span>
            <span class="menu-btn-bar menu-btn-bar--center"></span>
            <span class="menu-btn-bar menu-btn-bar--bottom"></span>
          </a>
          <drawr-menu v-show="isActive"></drawr-menu>
        </div>
      </header>
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
